<!-- {{ if .Site.Params.enableGitalk }}
<div id="gitalk-container" class="gitalk-container"></div>
<link rel="stylesheet" href='{{ "css/gitalk.css" | absURL }}'>
<script src='{{ "js/gitalk.min.js" | absURL }}'></script>
<script>
  const gitalk = new Gitalk({
    clientID: '{{ .Site.Params.Gitalk.clientID }}',
    clientSecret: '{{ .Site.Params.Gitalk.clientSecret }}',
    repo: '{{ .Site.Params.Gitalk.repo }}',
    owner: '{{ .Site.Params.Gitalk.owner }}',
    admin: ['{{ .Site.Params.Gitalk.owner }}'],
    id: eval({{ .Site.Params.Gitalk.id }}), // Ensure uniqueness and length less than 50
    distractionFreeMode: false // Facebook-like distraction free mode
  });
  (function() {
    gitalk.render('gitalk-container');
  })();
</script>
{{ end }} -->

{{ if .Site.Params.enableGitalk }}
<div id="gitalk-container" class="gitalk-container"></div>
<link rel="stylesheet" href='{{ "css/gitalk.css" | absURL }}'>
<script src='{{ "js/gitalk.min.js" | absURL }}'></script>

<!-- [추가] MD5 라이브러리를 반드시 포함해야 합니다. -->
<script src="https://cdn.jsdelivr.net/npm/blueimp-md5@2.18.0/js/md5.min.js"></script>

<script>
  const gitalk = new Gitalk({
    // --- 기존 설정 (수정 필요 없음) ---
    clientID: '{{ .Site.Params.Gitalk.clientID }}',
    clientSecret: '{{ .Site.Params.Gitalk.clientSecret }}',
    repo: '{{ .Site.Params.Gitalk.repo }}',
    owner: '{{ .Site.Params.Gitalk.owner }}',
    admin: ['{{ .Site.Params.Gitalk.owner }}'],
    distractionFreeMode: false,

    // --- 아래는 문제점을 수정한 부분입니다 ---

    // [수정 1] clientSecret을 삭제하고, 보안을 위해 프록시를 사용합니다.
    // 이 주소는 이전에 설명드린 Vercel 등으로 만든 프록시 서버의 주소여야 합니다.
    // proxy: '{{ .Site.Params.Gitalk.proxy }}',

    // [수정 2] id 값을 페이지 경로의 MD5 해시로 변경하여 길이 문제를 해결합니다.
    id: md5(location.pathname)

  });
  
  (function() {
    gitalk.render('gitalk-container');
  })();
</script>
{{ end }}